<% provide(:title, 'My Lists') %>
<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <h1>My Lists</h1>
  </div>
  <div class="span4">
    <%= link_to 'New List', new_list_path,
                id: 'new-list-button',
                class: 'btn btn-large btn-success' %>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <table class="list-index table">
      <tbody>
      <% if @lists.each do |list| %>
        <tr>
          <td>
            <%= link_to list.name, list %>
            <%= link_to list,
                        data_name: list.name,
                        class: 'close delete-item-button' do %>
              &times;
            <% end %>
          </td>
        </tr>
      <% end.empty? %>
        <tr>
          <td>
            <h4>You haven't created any lists!</h4>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

