<% provide(:title, 'My Lists') %>
<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <h1>My Lists</h1>
  </div>
  <div class="span4">
    <%= link_to 'New List', new_list_path,
                id: 'new-list-button',
                class: 'btn btn-large btn-success' %>
  </div>
</div>
<table class="table">
  <tbody>
    <% if @lists.each do |list| %>
      <tr>
        <td class="clickable">
          <%= link_to list.name, list %>
        </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td>
          <h4>You haven't created any lists!</h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
