<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Metis</h1>

  <h2>Remember what to do next. <strong>Always</strong>.</h2>

  <%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>
