// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-list-button {
  margin-top: 10px;
}

.clickable a {
  display: block;
  height: 100%;
  width: 100%;
}

.list-item-field {
  outline: none;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}
